*.bak
*.sql
*.zip
*.rar
*.dbf
*.csv
*.ttf
*.docx
*.doc
Thumbs.db

surasak3/connect.inc
surasak3/connect.inc.php
surasak3/connect.php
surasak3/Connections/config.inc.php
surasak3/Connections/connect.inc.php
surasak3/Connections/dbconfig.php
surasak3/NCR2556/connect.inc
surasak3/NCR2556/connect2.inc