*.bak
*.sql
*.zip
*.rar
*.dbf
*.csv
*.ttf
*.docx
*.doc
Thumbs.db
connect.inc
connect.php
surasak3/connect.inc
surasak3/connect.inc.php
surasak3/connect.php
surasak3/Connections/config.inc.php
surasak3/Connections/connect.inc.php
surasak3/Connections/dbconfig.php
surasak3/NCR2556/connect.inc
surasak3/NCR2556/connect2.inc
surasak3/datacscd/*.txt
surasak3/datacscd/cscd/*.zip
surasak3/patient_files/*
surasak3/tmp/*

# Visual Studio Code
.settings/*
.vscode/*