*.bak
*.sql
*.zip
*.rar
*.dbf
*.csv
*.ttf
*.docx
*.doc
*.log
*.db

connect.inc
connect.php
surasak3/connect.inc
surasak3/connect.inc.php
surasak3/connect.php
surasak3/connectlogin.inc
surasak3/Connections/config.inc.php
surasak3/Connections/connect.inc.php
surasak3/Connections/dbconfig.php
surasak3/NCR2556/connect.inc
surasak3/NCR2556/connect2.inc
surasak3/datacscd/cscd/*.txt
surasak3/datacscd/*.txt
surasak3/datacscd/backup*
surasak3/patient_files/*
surasak3/tmp/*
surasak3/Backup*/*
surasak3/dataupdate/*
surasak3/tests/*
surasak3/news/*
surasak3/43file/files/*.txt
surasak3/new43file/export/*
surasak3/logs/*.log

# Visual Studio Code
.settings/*
.vscode/*