#AddDefaultCharset TIS-620
AddDefaultCharset utf-8

php_flag register_globals On
#php_flag error_reporting E_ALL
php_value display_errors 0
php_value session.gc_maxlifetime 86400
php_value upload_max_filesize 10M